:root {
  /**
  Colors
   */
  --primary: #252C36;
  --primary-dark: #191E23;
  --primary-light: #161A1E;
  --primary-accent: #4E5863;
  --color-primary: #B0BAC1;
  --color-primary-light: #FFFFFF;
  --color-secondary: #80C156;

  /**
  Font sizes 14px base
   */
  --font-size-small: 0.7143rem; //12px
  --font-size-normal: 0.857142857rem; //12px
  --font-size-titles: 1rem; //14px
  --font-size-apparment: 1.142857143rem; // 16px
  --font-size-book: 1.285714286rem; //18px


}