.navbar {
  background-color: var(--primary);
  color: var(--color-primary);
}

.apparment {
  font-size: var(--font-size-apparment);
  text-transform: uppercase;
}

.navbar-brand {
  padding: 10px;
}

.logo {
  height: 30px;
  width: 92.2px;
}

nav .logo-divider, .menu-divider {
  width: 1px;
  margin-left: 10px;
  margin-right: 10px;
  border-right: 1px solid;
  border-color: var(--color-primary);
}

nav .logo-divider {
  height: var(--font-size-apparment);
  margin-top: 2px;
}

nav .menu-divider {
  height: 24px;
  margin-top: 8px;
}

nav .nav-item {
  padding-left: 10px;
  vertical-align: middle;
  line-height: 24px;
}

nav .user-profile-photo {
  height: 42px;
  width: 42px;
}

nav .img-thumbnail {
  padding: 2px;
  margin-right: 10px;
  border-color: var(--primary-accent);
  background-color: var(--primary);
}