.keyframes(@name; @arguments) {
  @-moz-keyframes @name { @arguments();
  }
  @-webkit-keyframes @name { @arguments();
  }
  @keyframes @name { @arguments();
  }
}

.animation(@arguments) {
  -webkit-animation: @arguments;
  -moz-animation: @arguments;
  animation: @arguments;
}

.keyframes(flash; { 0% {
  background: var(--primary-dark);
} 100% {
    background: var(--primary);
  } });

.keyframes(flash-buy; { 0% {
  color: var(--light-green);
} 100% {
    color: var(--light-green);
  } });

.keyframes(flash-sell; { 0% {
  color: var(--light-red);
} 100% {
    color: var(--light-red);
  } });

.last-trades {
  table {
    td, th {
      border: 0px !important;
      padding: 5px !important;
      margin: 0px;
      font-size: var(--font-size-small);

      &:first-child {
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}

.last-trades {
  table {
    tr {
      &:hover {
        td {
          background: var(--primary);
          color: var(--light-text);
        }
        .zeros {
          color: var(--medium-navy);
        }
        .sell {
          color: var(--light-red) !important;
        }
        .buy {
          color: var(--light-green) !important;
        }
      }
      th {
        text-transform: uppercase;
        color: var(--color-primary);
        .currency-price, .currency-amount {
          color: var(--color-primary-accent);
          margin-right: 5px;
        }
      }
      td {
        color: var(--sidebar-text);
        .zeros {
          color: var(--medium-navy);
        }
        &.sell {
          color: var(--dark-red) !important;
        }
        &.buy {
          color: var(--dark-green) !important;
        }
      }
    }
  }

}