/*-------------------------------------------------------------------*/
.flash-sell-enter, .flash-buy-enter {
  background: var(--primary-dark);
}

.flash-sell-enter-active, .flash-buy-enter-active {
  background: var(--primary);
  transition: background 800ms ease-in;
  color: var(--light-text);
  .zeros {
    color: var(--medium-navy);
  }
  .sell {
    color: var(--light-red) !important;
  }
  .buy {
    color: var(--light-green) !important;
  }
}

/*---------------------------------------------------------------*/
.last-trades {
  table {
    td, th {

      &:first-child {
      }
      &:last-child {
        text-align: right;
      }
    }
  }
}
