
.ask-flash-enter {
  background: var(--regular-navy);
}

.ask-flash-enter-active {
  background: var(--regular-red);
  transition: opacity 800ms ease-in;
}

.ask-flash-exit {
  background: var(--light-red);
}

.ask-flash-exit-active {
  background: none;
  transition: opacity 500ms ease-in;
}

.bid-flash-enter {
  background: var(--regular-navy);
}

.bid-flash-enter-active {
  background: var(--regular-green);
  transition: opacity 800ms ease-in;
}

.bid-flash-exit {
  background: var(--light-green);
}

.bid-flash-exit-active {
  background: none;
  transition: opacity 500ms ease-in;
}
