.sub-nav {
  background-color: var(--primary-light);
}

.sub-nav .nav > .nav-item a {
  padding: 5px 10px;
  color: var(--green);
  font-size: var(--font-size-normal);
  text-transform: uppercase;
}

.sub-nav {
  .row {
    margin-right: auto;
    margin-left: 20px;
  }
  p {
    margin: 0px;
    margin-left: 10px;
    color: var(--color-primary-accent);
    float: left;
    display: inline-block;
    font-size: var(--font-size-small  );
    .currency, .percent, .value {
      margin-left: 5px;
      color: var(--color-primary);
    }
  }
}